.container {
    height: 812px;
    width: 812px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;   
}

.box1{
    height: 100px;
    width: 100px;
    border: 1px solid ;
    background-color: black;
    float: right;   
}

.box2{
    height: 100px;
    width: 100px;
    border: 1px solid ;
    background-color: white;
    float: right; 
}

